@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(26, 39, 82);
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(55, 74, 137);
    border-radius: 100vh;
    border: 3px solid rgb(39, 52, 95);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 40, 76);
  }
}
body{
    overflow-x: hidden;
}

.main-min-height{
    min-height: calc(100vh - 6.75rem);
}

/* hide scrollbar on Chrome, Safari, Opera */
/* body::-webkit-scrollbar {
    display: none;
} */

/* hide scrollbar on Firefox */
/* html {
    scrollbar-width: none;
} */

/* hide scrollbar for Edge, IE */
/* body {
    -ms-overflow-style: none;
} */
/* For Chrome and Safari  */ 

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button  
{ 
    -webkit-appearance: none; 
    margin: 0; 
} 
/* For Firefox  */ 
input[type="number"] { 
    -moz-appearance: textfield; 
} 